* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --bg-btn: #ffb900;
}
html {
  font-size: 62.5%;
}
/* khôi phục lại cỡ chữ mặc định */
body {
  /* height: 10000px; */
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ========common======== */
.main-content {
  max-width: calc(100% - 48px);
  width: 1170px;
  margin: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: block;
  padding: 0px 16px;
  line-height: 50px;
  min-width: 110px;
  /* width: 110px; */
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.break-all {
  word-break: break-all;
}
/* ========common======== */

/* header */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -20px;
  z-index: 1;
}
.header .body-header {
  display: flex;
  align-items: center;
  padding: 30px 0 10px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav ul li a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 2.1rem;
  position: relative;
}
.nav li.active a,
.nav ul li a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 6px;
  left: 22px;
  width: 0.75rem;
  height: 0.125rem;
  border-radius: 0.0625rem;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 130px;
}
.header .action {
  margin-left: 49px;
}

/* main content */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .main-content .main-body {
  display: flex;
}

/* ======== hero left ======== */
.hero .main-content .main-body .media-block {
  width: 48%;
  position: relative;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .media-block .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  border-radius: 12px;
  padding: 24px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero .hero-summary .item {
  display: flex;
  align-items: center;
}
.hero .hero-summary .item + .item {
  margin-top: 22px;
}
.hero .hero-summary .item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
}
.hero .hero-summary .item:nth-child(2) .icon {
  background-color: #fcefff;
}
.hero .hero-summary .item:nth-child(3) .icon {
  background-color: #ebeaff;
}
.hero .hero-summary .item .info {
  margin-left: 16px;
}
.hero .hero-summary .item .info .label {
  color: #5f5b53;
  font-size: 14re;
  line-height: 1.86; /* 185.714% */
}
.hero .hero-summary .item .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* ======= hero right ======= */
.hero .main-content .main-body .content-block {
  width: 52%;
  padding: 64px 0 65px 130px;
}
.hero .main-body .content-block .heading {
  font-family: var(--font-heading);
  color: #171100;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .main-body .content-block .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero .main-body .content-block .desc:first-child {
  padding-top: 22px;
}
.hero .main-body .content-block .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero .main-body .content-block .cta-group .btn {
  min-width: 170px;
  background: var(--bg-btn);
}
.hero .main-body .content-block .cta-group .watch-video {
  display: flex;
  margin-left: 28px;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}
.content-block .cta-group .watch-video .icon {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.content-block .cta-group .watch-video .watch-text {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}
.main-body .content-block .desc:nth-of-type(2) {
  margin-top: 48px;
}
.content-block .desc.strong {
  margin-top: 8px;
}
.content-block .strong strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  margin-right: 15px;
}
.content-block .strong strong:nth-child(2) {
  margin-left: 28px;
}

/* popular */
.popular {
  margin: 65px 0;
  margin-top: 135px;
}
.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .popular-top .info .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 16px;
  width: 458px;
}
.popular .controls {
  display: flex;
  align-items: center;
  gap: 18px;
}
.popular .controls .controls-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--bg-btn);
  border-radius: 4rem;
  border: 1px solid var(--bg-btn);
  background: transparent;
}
.popular .controls .controls-btn:hover {
  color: #fff;
  background: var(--bg-btn);
}
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.popular .course-item:hover {
  border-radius: 12px;
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-item {
  flex: 1;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e2dfda;
}
.popular .course-item .thumb {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
}
.popular .course-item .info {
  margin: 16px 22px 22px;
}
.popular .course-item .info .foot,
.popular .course-item .info .head .rating,
.popular .course-item .info .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .course-item .info .head .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}
.popular .course-item .info .head .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
}
.popular .course-item .info .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 14px;
  line-height: 1.86; /* 185.714% */
}
.popular .course-item .info .foot {
  margin-top: 12px;
}
.popular .course-item .info .foot {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}
.popular .course-item .info .foot .btn-book {
  border: none;
}
.popular .course-item .info .foot .btn-book:hover {
  background: var(--bg-btn);
}

/* =======================feedback===================== */
.feedback {
  margin-top: 135px;
  background: #2e2100;
  padding: 96px 0;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback .feedback-item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
}
.feedback .feedback-item .info .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback .feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}
.feedback .feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}
.feedback .feedback-item .info .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}
.feedback .feedback-item .info .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}
.feedback .feedback-item .info .dots .dot.active {
  background: var(--bg-btn);
  cursor: default;
}
.feedback .feedback-item .content {
  width: 66%;
  margin-left: auto;
}
.feedback .feedback-item .content .open-quotes {
  width: 30px;
  height: 28px;
}
.feedback .feedback-item .content .block-quotes {
  padding-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}

/* =======================Features===================== */
.features {
  margin-top: 135px;
  padding: 65px 0;
}
.features .features-body {
  display: flex;
  justify-content: space-between;
}
.features .features-body .images {
  display: flex;
  gap: 30px;
}
.features .features-body .images img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}
.features .features-body .images .lower {
  margin-top: 34px;
}
.features .features-body .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 41%;
}
.features .features-body .content .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.features .content .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background: var(--bg-btn);
}
